.canvasstyle{
    width:100%;
    height: 100%;
    cursor:pointer;
    position: absolute;
}

canvas{
    border-style: solid;
}

mat-icon{
    padding-right: 20px;
}

.example-spacer {
    flex: 1 1 auto;
  }

.color-box{
    width: 30px;
    height: 30px;
}

mat-menu-item{
    width: 50px;
}

.toolbar-t {
    position: fixed;  
    width: 100%;
    padding: 3px 0 3px 0px;
  }